.App{
  margin: 0px 0px 0px 50px ;
  text-align: center;
  border: 5px groove rgb(15, 15, 16);
  background-color: teal;
  padding: 50px;
  border-radius: 15px;
  width: 25%;
  float: left;
}
.App label{
  text-align: left;
  display: inline;
  font-weight: bolder;
  color: white;
  margin-left: 20px;

}
.App input{
  text-align: center;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  font: inherit;
  border: transparent;
  border-radius: 20px; 
}
.App button{
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  background-color: greenyellow;
  outline-style:groove;
}

.Table{
  margin-left: 350px;
    text-align  : center;
    /* border: solid 5px black; */
    margin-top: 10px;
    width: 50%;
    overflow:auto;
    border-radius: 10px;
    border-collapse: collapse;
}